body
{
	font-size: small;
}

h2 span, section h3 
{
	display: none;
}

footer, input
{
	font-size: large;
}

nav
{
	border-bottom: 1px solid rgb(50, 62, 77);
}

#dvContenido
{
	padding-top: 80px;	
	margin-bottom: 55px; 
}