@-o-viewport
{
  width: device-width;
  zoom: 1.0;
  min-zoom: 1.0;
  max-zoom: 1.0;
}

@-ms-viewport{
  width: device-width;
  zoom: 1.0;
  min-zoom: 1.0;
  max-zoom: 1.0;
}

@viewport
{
  width: device-width;
  zoom: 1.0;
  min-zoom: 1.0;
  max-zoom: 1.0;
}

/* Fin Zona ViewPort */

* 
{ 
  margin: 0;
  padding: 0;
}

html
{
  height: 100%;
}
body
{
  background: lightslategray;
  height: 100%;
}

/* **** LINKS **** */
.enlaceGenerico
{
  text-decoration: none;
  color: rgb(50, 62, 77);
  cursor: pointer;
}

.enlaceGenerico:hover
{
  color: cornflowerblue;
}
/* *************** */

#lstPreguntas
{
  margin: 0 auto;
  border-collapse: collapse;
  width: 69%;
}

#lstPreguntas th
{
  padding: 5px;
  background: lightslategray;
  border: 1px solid rgb(50, 62, 77);
  color:white;
}

#lstPreguntas td
{
  padding: 5px;
  border: 1px solid rgb(50, 62, 77);
}

/* **** Botón **** */

.boton{
      text-align:center;
      text-decoration: none;
      font-family: 'Helvetica Neue', Helvetica, sans-serif;
      font-size: small;
      display:inline-block;
      color: white;
      background: #7F8C8D;
      padding: 5px 10px;
      white-space: nowrap;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -webkit-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
}
      
.azul, .menu{ 
  background: rgb(50, 62, 77);
  color: white;
  cursor: pointer;
}

.azul:hover{
  background: #eee;
  color: rgb(50, 62, 77);
}

.menu:hover
{
  background: lightcyan;
  color: rgb(50, 62, 77);
}

.naranja
{
  background: darkorange;
  color: white;
  cursor: pointer;
}

.naranja:hover
{
  background: orange;
}

.rojo
{
  background: darkred;
  color: white;
  cursor: pointer;
}

.rojo:hover
{
  background: red;
}


/* *************** */

/* **** Estilo genérico formulario **** */

.dvCabeceraFormulario
{
  background: lightslategray;
  border-bottom: 1px solid rgb(50, 62, 77);
  color: white;
  width: 100%; 
}

.dvContenedorFormulario
{
  display: inline-block;
  margin: 0 auto;
  border: 1px solid rgb(50, 62, 77);
}

.dvLabelYinputTypeText
{
  margin: 1% auto;
  text-align: right;
}

.dvLabelYinputTypeText label
{
  margin-left: 5px;
}

.dvLabelYinputTypeText input[type="text"]
{
  margin-right: 5px; 
  font-size: small;
}

.dvBotonera
{
  float:right;
  margin-top: 1.2%;
  margin-right: 1.4%;
  margin-bottom: 1.2%;
}

/* **** Fin estilo genérico formulario **** */

/* **** Formulario de Búsqueda de Preguntas **** */
#frmBusqueda
{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

#dvContenedorBusqueda
{
  margin-bottom: 25px;
}

#dvContenedor div
{
  position: relative;
}

#dvContenedor div label, input[type="text"]
{
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

input[type="text"]
{
  width: 160px;
  font-size: small;
}

/* **** Fin de estilos FORMULARIO BUSQUEDA **** */

/* **** Estilo Formuario Nueva/Modificar pregunta **** */



/* **** Fin Formuario Nueva/Modificar pregunta **** */

 /* Tabla genérica */
table
{
	margin-left: auto;
	margin-right: auto;	
}

td
{
  padding: 4px 4px 0px 4px;
  border: 1px solid green;
}
/* Fin tabla genérica*/

body 
{
  font: 16px Georgia, serif;
}

#page-wrap
{
  color: white;  
  position: relative;
  height: 100%;
}

#page-wrap > .main
{
  --padding: 1%;
  color: black;  
}

#dvContenido
{
  height: 90%;
  background: white;
  text-align: center; 
  border-top: 1px solid lightslategray;
  padding: 1% 0% 0% 0%;
} 	

 
header
{
  background: rgb(47,	58,	72);
  text-align: center;
  padding: 1%;
}

header h2
{
  color: white;
}

nav
{
  padding: 1%;
  background: #eee;
  text-align: center;
}

nav span
{
  margin: 0px 10px 0px 0px;
}

footer
{
  background: rgb(47,	58,	72);;
  text-align: center;
  padding: 10px 0px 10px 0px;
  border-top: 1px solid lightslategray;
  left: 0;
  bottom: 0;
  width: 100%;
  position: fixed;
}

/* **** LINKS FOOTER **** */
footer a:link, footer a:hover, footer a:visited, a:active
{
  text-decoration: none;
  color: white;
}

footer a:hover
{
  color: cornflowerblue;
}
/* ********************** */