@-o-viewport
{
  width: device-width;
  zoom: 1.0;
  min-zoom: 1.0;
  max-zoom: 1.0;
}

@-ms-viewport{
  width: device-width;
  zoom: 1.0;
  min-zoom: 1.0;
  max-zoom: 1.0;
}

@viewport
{
  width: device-width;
  zoom: 1.0;
  min-zoom: 1.0;
  max-zoom: 1.0;
}

/* Fin Zona ViewPort */

* 
{ 
  margin: 0;
  padding: 0;
}

body
{
  background: lightslategray;
}

/* **** LINKS **** */
a:link, a:hover, a:visited, a:active
{
  text-decoration: none;
  color: rgb(50, 62, 77);
}

a:hover
{
  color: blue;
}
/* *************** */

 /* Tabla genérica */
table
{
	margin-left: auto;
	margin-right: auto;	
}

td
{
  padding: 4px 4px 0px 4px;
  border: 1px solid green;
}
/* Fin tabla genérica*/

body 
{
  font: 16px Georgia, serif;
}

#page-wrap
{
  margin: 2% auto;
  color: white;  
}

#page-wrap > .main
{
  padding: 1%;
  margin-bottom: 1px;
  color: black;  
}

section 
{
  height: 300px;
  background: white;
  text-align: center;
}

header
{
  background: rgb(47,	58,	72);
  text-align: center;
}

header h2
{
  color: white;
}

nav
{
  background: #eee;
  text-align: center;
}

footer
{
  background: #eee;
  text-align: center;
}

nav span
{
  margin: 0px 10px 0px 0px;
}