@-o-viewport
{
  width: device-width;
  zoom: 1.0;
  min-zoom: 1.0;
  max-zoom: 1.0;
}

@-ms-viewport{
  width: device-width;
  zoom: 1.0;
  min-zoom: 1.0;
  max-zoom: 1.0;
}

@viewport
{
  width: device-width;
  zoom: 1.0;
  min-zoom: 1.0;
  max-zoom: 1.0;
}

/* Fin Zona ViewPort */

* 
{ 
  margin: 0;
  padding: 0;
}

html
{
  height: 100%;
}
body
{
  background: lightslategray;
  height: 100%;
}

/* **** LINKS **** */
a:link, a:hover, a:visited, a:active
{
  text-decoration: none;
  color: rgb(50, 62, 77);
}

a:hover
{
  color: cornflowerblue;
}
/* *************** */

#lstPreguntas
{
  margin: 0 auto;
  border-collapse: collapse;
  width: 69%;
}

#lstPreguntas th
{
  padding: 5px;
  background: lightslategray;
  border: 1px solid rgb(50, 62, 77);
  color:white;
}

#lstPreguntas td
{
  padding: 5px;
  border: 1px solid rgb(50, 62, 77);
}

/* **** Formulario de Búsqueda de Preguntas **** */
#frmBusqueda
{
  display: table;
  margin-left: auto;
  margin-right: auto;
}

#dvContenedor
{
  display: table;
  border: 1px solid rgb(50, 62, 77);
}

#dvContenedor div
{
  position: relative;
}

#dvCabeceraBuscador
{
  background: lightslategray;
  border-bottom: 1px solid rgb(50, 62, 77);
  color: white;
}

#dvContenedor div label, input[type="text"]
{
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

#dvContenedor div input[type="submit"]
{
  float: right;
  position: relative;
  margin-right: 1.9%;
  margin-top: 1%;
  margin-bottom: 1%;
}

/* **** Fin de estilos FORMULARIO BUSQUEDA**** */

 /* Tabla genérica */
table
{
	margin-left: auto;
	margin-right: auto;	
}

td
{
  padding: 4px 4px 0px 4px;
  border: 1px solid green;
}
/* Fin tabla genérica*/

body 
{
  font: 16px Georgia, serif;
}

#page-wrap
{
  color: white;  
  position: relative;
  height: 100%;
}

#page-wrap > .main
{
  --padding: 1%;
  color: black;  
}

#dvContenido
{
  height: 90%;
  background: white;
  text-align: center; 
  border-top: 1px solid lightslategray;
  padding: 1% 0% 0% 0%;
} 	

 
header
{
  background: rgb(47,	58,	72);
  text-align: center;
  padding: 1%;
}

header h2
{
  color: white;
}

nav
{
  padding: 1%;
  background: #eee;
  text-align: center;
}

nav span
{
  margin: 0px 10px 0px 0px;
}

footer
{
  background: rgb(47,	58,	72);;
  text-align: center;
  padding: 10px 0px 10px 0px;
  border-top: 1px solid lightslategray;
  left: 0;
  bottom: 0;
  width: 100%;
  position: fixed;
}

/* **** LINKS FOOTER **** */
footer a:link, footer a:hover, footer a:visited, a:active
{
  text-decoration: none;
  color: white;
}

footer a:hover
{
  color: cornflowerblue;
}
/* ********************** */