body{
font: 16px Georgia, serif;
}

nav
{
	float: left;
	width: 15%;
	height: 90%;
	border: 1px solid lightslategray;
	padding: 1% 0% 0% 0%;
	margin-top: 45px;
	margin-bottom: 45px;
	height: 100%;
	
}

nav span
{
	display: block;
	margin: 0 auto;
	padding: 0px 0px 4px 0px;
}

#dvContenido
{
	background: white;
	float: left;
	width: 85%;
	height: 100%;
	padding-top: 40px;
	margin-bottom: 45px;
	float: right;
}

input[type="text"], input[type="password"]
{
	width: 280px;
}

select
{
	width: 285px;	
}

header{
	text-align: center;
}

footer
{
  clear: both;
}