nav
{
	float: left;
	width: 15%;
	height: 90%;
	border: 1px solid lightslategray;
	padding: 1% 0% 0% 0%;
}

nav span
{
	display: block;
	margin: 0 auto;
	padding: 0px 0px 4px 0px;
}

#dvContenido
{
	background: white;
	float: left;
	width: 84.5%;
	height: 90%;
}

input[type="text"]
{
	width: 280px;
}

select
{
	width: 285px;	
}

footer
{
  clear: both;
  
  bottom: 7.2%;
  
  
}