<form id="frmResponderPregunta" method="get" action="/quizes/<%=quiz.id%>/answer">
	<br/>
	Pregunta: <%= quiz.pregunta %><p>
	<br/>
	<input type="text" name="respuesta" value="Responda aquí"/>
	<a class="boton azul" href="#" onclick="document.getElementById('frmResponderPregunta').submit()">Responder</a>
</form>